name: CI

on:
  push:
    branches: [main]
    paths:
      - .github/workflows/*
      - '**/CMakeLists.txt'
      - '**/*.cmake'
      - '**/*.cpp'
      - '**/*.hpp'
  pull_request:
    branches: [main]
    paths:
      - .github/workflows/*
      - '**/CMakeLists.txt'
      - '**/*.cmake'
      - '**/*.cpp'
      - '**/*.hpp'

jobs:
  build:
    name: ${{ matrix.platform.name }}
    runs-on: ${{ matrix.platform.os }}
    strategy:
      fail-fast: false
      matrix:
        platform:
          - { name: Linux, os: ubuntu-24.04 }
          - { name: macOS, os: macos-15 }
          - { name: Windows, os: windows-2025 }

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Cpp
        uses: aminya/setup-cpp@v1
        with:
          compiler: gcc
          cmake: true
          ninja: true

      - name: 'Linux: Install dependencies'
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y libfftw3-dev ffmpeg xvfb libglew-dev gdb

      - name: 'Linux: Install SFML 3 from ppa:bleedingedge/noble-bleed'
        if: runner.os == 'Linux'
        run: |
          sudo add-apt-repository ppa:bleedingedge/noble-bleed
          sudo apt-get update
          sudo apt-get install -y libsfml-dev
          sudo add-apt-repository --remove ppa:bleedingedge/noble-bleed

      - name: 'macOS: Install dependencies'
        if: runner.os == 'macOS'
        run: |
          brew update
          brew install glew sfml fftw ffmpeg

      - name: 'Windows: Install FFmpeg'
        if: runner.os == 'Windows'
        uses: FedericoCarboni/setup-ffmpeg@v3

      - name: Configure CMake with GCC
        run: cmake -S. -Bbuild -GNinja -DAUDIOVIZ_USE_PORTAUDIO=OFF

      - name: Build project
        run: cmake --build build --parallel

      - name: Test examples
        if: runner.os == 'Linux'
        run: ctest --test-dir build/examples --output-on-failure

      - name: Test examples with GDB
        if: runner.os == 'Linux'
        run: |
          cmake -S. -Bbuild -DEXAMPLES_TESTING_USE_GDB=ON
          ctest --test-dir build/examples --output-on-failure
