name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-linux:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            build-essential \
            cmake \
            libfreetype-dev \
            libglew-dev \
            libgl-dev \
            libx11-dev \
            libxau-dev \
            libxrandr-dev \
            libxi-dev \
            libxcursor-dev \
            zlib1g-dev \
            liblua5.4-dev \
            portaudio19-dev \
            libfftw3-dev \
            libudev-dev \
            ffmpeg

      - name: Configure CMake
        run: cmake -S. -Bbuild -DAUDIOVIZ_TESTS=1 -DGITHUB_CI=1 -DLUAVIZ_EXECUTABLE=1

      - name: Build project
        run: cmake --build build -j$(nproc)

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: audioviz-build-linux
          path: |
            build/libaudioviz/libaudioviz.*
            build/ttviz/ttviz
            build/luaviz/luaviz*
            build/test/*-test
            shaders/

  build-macos:
    runs-on: macos-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          brew update
          brew install \
            glew \
            cmake \
            sfml \
            fftw \
            lua \
            portaudio \
            ffmpeg

      - name: Configure CMake
        run: cmake -S. -Bbuild -DAUDIOVIZ_TESTS=1 -DGITHUB_CI=1 -DLUAVIZ_EXECUTABLE=1 -DCMAKE_VERBOSE_MAKEFILE=ON

      - name: Build project
        run: cmake --build build -j$(sysctl -n hw.ncpu)

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: audioviz-build-macos
          path: |
            build/libaudioviz/libaudioviz.*
            build/ttviz/ttviz
            build/luaviz/luaviz*
            build/test/*-test
            shaders/
