name: CI

on:
  push:
    branches: [main]
    paths:
      - .github/workflows/*
      - '**/CMakeLists.txt'
      - '**/*.cmake'
      - '**/*.cpp'
      - '**/*.hpp'
  pull_request:
    branches: [main]
    paths:
      - .github/workflows/*
      - '**/CMakeLists.txt'
      - '**/*.cmake'
      - '**/*.cpp'
      - '**/*.hpp'

jobs:
  linux:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            build-essential \
            cmake \
            libfreetype-dev \
            libglew-dev \
            libgl-dev \
            libx11-dev \
            libxau-dev \
            libxrandr-dev \
            libxi-dev \
            libxcursor-dev \
            zlib1g-dev \
            portaudio19-dev \
            libfftw3-dev \
            libudev-dev \
            ffmpeg \
            xvfb

      - name: Configure CMake
        run: cmake -S. -Bbuild

      - name: Build project
        run: cmake --build build -j $(nproc)

      - name: Test examples
        run: cd build/examples && ctest --output-on-failure

  macos:
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: brew install glew sfml fftw portaudio ffmpeg

      - name: Configure CMake
        run: cmake -S. -Bbuild

      - name: Build project
        run: cmake --build build -j $(sysctl -n hw.ncpu)

      - name: Test examples
        run: cd build/examples && ctest --output-on-failure

  windows-mingw:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup MinGW
        uses: egor-tensin/setup-mingw@v3

      - name: Configure CMake
        run: cmake -S. -Bbuild -G "MinGW Makefiles"

      - name: Build project
        run: cmake --build build -j $env:NUMBER_OF_PROCESSORS

      - name: Setup ffmpeg
        uses: FedericoCarboni/setup-ffmpeg@v3

      - name: Test examples
        run: cd build/examples && ctest --output-on-failure
