name: CI

on:
  push:
    branches: [main]
    paths:
      - .github/workflows/*
      - '**/CMakeLists.txt'
      - '**/*.cmake'
      - '**/*.cpp'
      - '**/*.hpp'
  pull_request:
    branches: [main]
    paths:
      - .github/workflows/*
      - '**/CMakeLists.txt'
      - '**/*.cmake'
      - '**/*.cpp'
      - '**/*.hpp'

jobs:
  build:
    name: ${{ matrix.platform.name }}
    runs-on: ${{ matrix.platform.os }}
    strategy:
      fail-fast: false
      matrix:
        platform:
          - {
              name: Linux GCC,
              os: ubuntu-latest,
              flags: -DCMAKE_C_COMPILER=gcc -DCMAKE_CXX_COMPILER=g++ -DEXAMPLES_TESTING_USE_GDB=ON,
            }
          - { name: macOS ARM64, os: macos-latest }
          - { name: macOS x64, os: macos-15-intel }
          - {
              name: Windows MinGW,
              os: windows-latest,
              flags: -DCMAKE_C_COMPILER=gcc -DCMAKE_CXX_COMPILER=g++ -DEXAMPLES_TESTING_USE_GDB=ON -DEXAMPLES_TESTING_USE_MESA3D=ON,
            }

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Get CMake and Ninja
        uses: lukka/get-cmake@latest

      # 15 is just never gonna work, I gave up
      - name: 'Linux: Install GCC 14'
        if: matrix.platform.name == 'Linux GCC'
        uses: egor-tensin/setup-gcc@v2
        with: { version: 14 }

      - name: 'Linux: Install dependencies'
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y libfftw3-dev ffmpeg libglew-dev gdb

      # WARNING: this ppa does NOT ship static libraries!
      - name: 'Linux: Install SFML 3 from ppa:bleedingedge/noble-bleed (Shared libraries only)'
        if: runner.os == 'Linux'
        run: |
          sudo add-apt-repository ppa:bleedingedge/noble-bleed
          sudo apt-get update
          sudo apt-get install -y libsfml-dev

      # don't bother with gcc, everything on brew is built with clang
      - name: 'macOS: Install dependencies'
        if: runner.os == 'macOS'
        run: |
          brew update
          brew install glew sfml fftw ffmpeg gdb

      - name: 'Windows: Install FFmpeg'
        if: runner.os == 'Windows'
        uses: FedericoCarboni/setup-ffmpeg@v3

      - name: Configure CMake
        run: cmake -S. -Bbuild -GNinja -DLIBAVZ_USE_PORTAUDIO=OFF ${{ matrix.platform.flags }}

      - name: Build project
        run: cmake --build build --parallel

      # macOS testing will stay off until i boot up a mac myself and figure it out
      - name: Test examples
        if: runner.os != 'macOS'
        run: ctest --test-dir build/examples --output-on-failure
