name: CI

on:
  push:
    branches: [main]
    paths:
      - .github/workflows/*
      - '**/CMakeLists.txt'
      - '**/*.cmake'
      - '**/*.cpp'
      - '**/*.hpp'
  pull_request:
    branches: [main]
    paths:
      - .github/workflows/*
      - '**/CMakeLists.txt'
      - '**/*.cmake'
      - '**/*.cpp'
      - '**/*.hpp'

jobs:
  build:
    name: ${{ matrix.platform.name }}
    runs-on: ${{ matrix.platform.os }}
    strategy:
      fail-fast: false
      matrix:
        platform:
          # the ppa shipping libsfml-dev 3.0.2 does NOT ship static libraries!
          - { name: Linux GCC, os: ubuntu-latest, flags: -DSFML_STATIC_LIBRARIES=OFF -DCMAKE_C_COMPILER=gcc -DCMAKE_CXX_COMPILER=g++ }
          - { name: Linux Clang, os: ubuntu-latest, flags: -DSFML_STATIC_LIBRARIES=OFF -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_COMPILER=clang++ }
          - { name: macOS ARM64, os: macos-latest }
          - { name: macOS x64, os: macos-15-intel }
          - { name: Windows MinGW, os: windows-latest, flags: -DCMAKE_C_COMPILER=gcc -DCMAKE_CXX_COMPILER=g++ }
          - { name: Windows Clang, os: windows-latest, flags: -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_COMPILER=clang++ }

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Get CMake and Ninja
        uses: lukka/get-cmake@latest

      # 15 is just never gonna work, I gave up
      - name: 'Linux: Set up GCC 14'
        if: runner.os == 'Linux'
        uses: egor-tensin/setup-gcc@v2
        with:
          version: 14

      - name: 'Linux: Install dependencies'
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y libfftw3-dev ffmpeg libglew-dev gdb

      - name: 'Linux: Install SFML 3 from ppa:bleedingedge/noble-bleed (Shared libraries only)'
        if: runner.os == 'Linux'
        run: |
          sudo add-apt-repository ppa:bleedingedge/noble-bleed
          sudo apt-get update
          sudo apt-get install -y libsfml-dev

      # don't bother with gcc, everything on brew is built with clang
      - name: 'macOS: Install dependencies'
        if: runner.os == 'macOS'
        run: |
          brew update
          brew install glew sfml fftw ffmpeg gdb

      - name: 'Windows: Install FFmpeg'
        if: runner.os == 'Windows'
        uses: FedericoCarboni/setup-ffmpeg@v3

      - name: Configure CMake
        run: cmake -S. -Bbuild -GNinja -DAUDIOVIZ_USE_PORTAUDIO=OFF ${{ matrix.platform.flags }}

      - name: Build project
        run: cmake --build build --parallel

      # this will stay off until i boot up a mac myself and figure it out
      # - name: Test examples
      #   if: runner.os == 'macOS'
      #   run: ctest --test-dir build/examples --output-on-failure

      - name: Test examples with GDB
        if: runner.os == 'Linux'
        run: |
          cmake -S. -Bbuild -DEXAMPLES_TESTING_USE_GDB=ON
          ctest --test-dir build/examples --output-on-failure

      - name: Test examples with GDB (Windows, verbose)
        if: runner.os == 'Windows'
        run: |
          cmake -S. -Bbuild -DEXAMPLES_TESTING_USE_GDB=ON
          ctest --test-dir build/examples -V
