name: Build

on:
  push:
    branches: [main]
    paths:
      - .github/workflows/*
      - '**/CMakeLists.txt'
      - '**/*.cmake'
      - '**/*.cpp'
      - '**/*.hpp'
  pull_request:
    branches: [main]
    paths:
      - .github/workflows/*
      - '**/CMakeLists.txt'
      - '**/*.cmake'
      - '**/*.cpp'
      - '**/*.hpp'

jobs:
  linux:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            build-essential \
            cmake \
            libfreetype-dev \
            libglew-dev \
            libgl-dev \
            libx11-dev \
            libxau-dev \
            libxrandr-dev \
            libxi-dev \
            libxcursor-dev \
            zlib1g-dev \
            liblua5.4-dev \
            portaudio19-dev \
            libfftw3-dev \
            libudev-dev

      - name: Configure CMake
        run: cmake -S. -Bbuild -DLUAVIZ_EXECUTABLE=1

      - name: Build project
        run: cmake --build build -j $(nproc)

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: audioviz-linux
          path: |
            build/libaudioviz/libaudioviz.*
            build/ttviz/ttviz
            build/luaviz/luaviz*
            build/examples/*
            shaders/

  macos:
    runs-on: macos-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: brew install glew sfml fftw lua portaudio

      - name: Configure CMake
        run: cmake -S. -Bbuild -DLUAVIZ_EXECUTABLE=1

      - name: Build project
        run: cmake --build build -j $(sysctl -n hw.ncpu)

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: audioviz-macos
          path: |
            build/libaudioviz/libaudioviz.*
            build/ttviz/ttviz
            build/luaviz/luaviz*
            build/examples/*
            shaders/

  windows-mingw:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup MinGW
        uses: egor-tensin/setup-mingw@v3

      - name: Configure CMake
        run: cmake -S. -Bbuild -G "MinGW Makefiles" -DLUAVIZ_BUILD_LUA=1 -DLUAVIZ_EXECUTABLE=1

      - name: Build project
        run: cmake --build build -j $env:NUMBER_OF_PROCESSORS

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: audioviz-windows-mingw
          path: |
            build/libaudioviz/libaudioviz.*
            build/ttviz/ttviz.exe
            build/luaviz/luaviz.exe
            build/examples/*.exe
            shaders/
